<!DOCTYPE html>
<html lang="UTF-8" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/admin/share/common::head(title='index')}"></head>
<body>
<div id="pageloader-overlay" class="visible incoming"><div class="loader-wrapper-outer"><div class="loader-wrapper-inner" ><div class="loader"></div></div></div></div>

<!-- 0Start wrapper-->
 <div id="wrapper">
 
    <div th:replace="/admin/share/common::wrapper"></div>
    <div th:replace="/admin/share/common::topbar"></div> 
    <div class="clearfix"></div>
    <div class="content-wrapper">
         <div class="container-fluid">	
               <!-- Breadcrumb-->
               <div class="row pt-2 pb-2" th:replace="/admin/share/common::map(table='Advertise',page='List')"></div>
   
      <!-- startContent-->
		     <div>
				<form id="form" method="post">
					<table class="table table-striped">

						<thead>
							<tr align="left">
								<th scope="col" colspan="9">

									<div  id="dateragne-picker">
									<div style="float: left;margin-right:10px; margin-top:5px; "  >
										<input  class="form-control"  id="adname" type="text" placeholder="请输入广告名称"
											name="adname" th:value="${condition.adname}" style="height: 35px; vertical-align: middle;">
									</div>	
							        <div style="float: left;height:40px; margin-right:10px; margin-top:5px" >
										<select style="height:36px;" class="form-control" id="input-6" name="display">
										      <option value="0">--请选择状态--</option>
										      <option value="1" th:selected="${condition.display==1}">显示</option>
										      <option value="2" th:selected="${condition.display==2}">不显示</option>
										</select>
									</div>
									
										<div class="input-daterange input-group" style="float: left;width:300px; margin-top:5px;">
											<input type="text" class="form-control"  name="beginTime" th:value="${beginTime}" id="beginTime"
												 placeholder="beginTime" />
											<div class="input-group-prepend">
												<span class="input-group-text">to</span>
											</div>
											<input type="text" class="form-control" name="endTime" th:value="${endTime}" id="endTime"
												placeholder="endTime" />
										</div>
									</div>
									<button type="submit"
										class="btn btn-info waves-effect waves-light m-1">&nbsp;搜&nbsp;&nbsp;索&nbsp;</button>
								<button type="button" class="btn btn-warning waves-effect waves-light m-1" id="append" style="border:none;"
										onclick="get(this)" th:hr="@{/admin/advertise/}" >&nbsp;添&nbsp;&nbsp;加&nbsp;</button>
								</th>
							</tr>
							<tr>
								<th scope="col">#</th>
								<th scope="col">广告名称</th>
								<th scope="col" >添加时间</th>
								<th scope="col">搜索url</th>
								<th scope="col">广告图片</th>
								<th scope="col">排序</th>
								<th scope="col">是否显示</th>
								<th scope="col">操作</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="obj,stat:${pager.datas}">
								<td th:text="${stat.index+1}"></td>
								<td th:text="${obj.adname}"></td>
								<td th:text="${obj.addtime}"></td>
								<td th:text="${obj.url}"></td>
								<td>
								<img alt="广告图片" th:src="@{${obj.path}}" style="width:100px">
								</td>
								<td th:text="${obj.seq}"></td>
								<td th:text="${obj.display==1?'显示' : '不显示'}"></td>
						
								<td>
								<button type="button" onclick="get(this)" th:hr="@{/admin/advertise/modify/}+${obj.id}" th:if="${session.user.username=='admin' or user.roles==1}" class="btn btn-success">编辑</button>
								<button type="button"  onclick="get(this)" th:hr="@{/admin/advertise/remove/}+${obj.id}" th:if="${session.user.username=='admin' or  user.roles==1}" class="btn btn-success">删除</button> 							 
								</td>
							</tr>
							<tr>
								<th scope="row" colspan="8"><span>[[${pager.size}
										]] Records</span> &nbsp;&nbsp;&nbsp;&nbsp; <span class="current">
										The [[${pager.page }]] Page</span> &nbsp;&nbsp;&nbsp;&nbsp; <span
									class="current">[[${pager.pages }]] Pages</span>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<button type="button" id="submit_first"
										th:submit_url="@{/admin/advertises/}+${pager.first}"
										class="btn btn-outline-danger btn-round waves-effect waves-light m-1">First</button>
									<button type="button" id="submit_pre"
										th:submit_url="@{/admin/advertises/}+${pager.pre}"
										class="btn btn-outline-success btn-round waves-effect waves-light m-1">Previous</button>
									<button type="button" id="submit_next"
										th:submit_url="@{/admin/advertises/}+${pager.next}"
										class="btn btn-outline-info btn-round waves-effect waves-light m-1">Next</button>
									<button type="button" id="submit_last"
										th:submit_url="@{/admin/advertises/}+${pager.last}"
										class="btn btn-outline-warning btn-round waves-effect waves-light m-1">Last page</button>
										</th>
							</tr>
						</tbody>

					</table>
				</form>
				<form  method="post">
					<input type="hidden" name="_method" value="put">
				</form>
            </div>
		    <!--End Row-->
		    
    </div><!--container-fluid-->  
 </div><!--End content-wrapper-->

<a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>

<div th:replace="/admin/share/common::footer"></div>

</div>
<!-- 0end wrapper-->

<div th:replace="/admin/share/common::js"></div>

	<script type="text/javascript"></script>
	<script type="text/javascript" th:src="@{/admin/assets/js/jquery-1.8.3.js}"></script>
	<script type="text/javascript" th:src="@{/admin/assets/js/button_operate.js}"></script>
	<script type="text/javascript" th:src="@{/admin/assets/js/split.js}"></script>	


</body>
</html>


