<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/admin/share/common::head(title='编辑广告信息')}"></head>
<body>
<div id="pageloader-overlay" class="visible incoming"><div class="loader-wrapper-outer"><div class="loader-wrapper-inner" ><div class="loader"></div></div></div></div>

<!-- 0Start wrapper-->
 <div id="wrapper">
    <div th:replace="/admin/share/common::wrapper(username='A')"></div>
    <div th:replace="/admin/share/common::topbar"></div> 
    <div class="clearfix"></div>
    <div class="content-wrapper">
         <div class="container-fluid">	
               <!-- Breadcrumb-->
               <div class="row pt-2 pb-2" th:replace="/admin/share/common::map(table='Advertise',page='Modify')"></div>
   
                <!-- Content-->
		       <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <form id="form" enctype="multipart/form-data" th:action="@{/admin/advertise/modify}" method="post">
                
                <h4 class="form-header text-uppercase">
                  <i class="fa fa-user-circle-o"></i>
                   Advertise Info
                </h4>
                <div class="form-group row">
                  <label for="input-1" class="col-sm-2 col-form-label">广告名称</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="input-1" name="adname"  th:value="${advertise.adname}" required>
                    <input type="hidden"  name="id"  th:value="${advertise.id}" >
                  </div>
                </div>
                
                
               <div class="form-group row">
                  <label for="input-1" class="col-sm-2 col-form-label">搜索url</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="input-1" name="url" th:value="${advertise.url}" required>
                  </div>
                </div>
               
                <div class="form-group row">
                  <label for="input-3" class="col-sm-2 col-form-label">广告图片</label>
                  <div class="col-sm-10">
                    <img alt="用户图片" th:src="@{${advertise.path}}" style="width:100px">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="input-4" class="col-sm-2 col-form-label">显示顺序</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="input-4" name="seq"  th:value="${advertise.seq}" required>
                  </div>       
                </div>
                <div class="form-group row">
                 <label for="input-1" class="col-sm-2 col-form-label">是否显示</label>&nbsp;&nbsp;&nbsp;
                  <select name="display">
                          <option value='0'>---请选择是否显示---</option>
                          <option value='1' th:if="${size<5}" th:selected="${advertise.display==1}">---是---</option>
                          <option value='2' th:selected="${advertise.display==2}">---否---</option>
                  </select>
                </div> 
                
                <h4 class="form-header">
                <i class="fa fa-file-text-o"></i>
                  REQUIREMENTS
                </h4>
              
               
               
                <div class="form-group row">
                 
                  <label for="input-8" class="col-sm-2 col-form-label">请选择广告图片</label>
                  <div class="col-sm-10">
                    <input type="file" class="form-control" id="input-8" name="file" required>
                  </div>
                </div>
                

                
               <div class="form-footer">
                 <!--    <a type="button" class="btn btn-danger" th:href="@{/admin/users/1}" th:if="${state=='d'}"><i class="fa fa-times"></i> 返回列表</a>  -->
                    <button type="submit"  class="btn btn-success"  ><i class="fa fa-check-square-o"></i> 保存编辑</button>
                </div> 
              </form>
            </div>
          </div>
        </div>
      </div>
      <!--End Row-->

		
		    
    </div><!--container-fluid-->  
 </div><!--End content-wrapper-->
    

<a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>

<div th:replace="/admin/share/common::footer"></div>

</div>
<!-- 0end wrapper-->
<div th:replace="/admin/share/common::js"></div>


<script type="text/javascript"></script>
<script type="text/javascript" th:src="@{/admin/assets/js/jquery-1.8.3.js}"></script>
<script type="text/javascript">

$("#submit_modify").click(function(){
	var action=$(this).attr("modify_url");
	$("m_form").prop("action",action).submit();
});
</script>
</body>
</html>

