<!DOCTYPE html>
<html lang="UTF-8" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/admin/share/common::head(title='一级分类')}"></head>
<body>
<div id="pageloader-overlay" class="visible incoming"><div class="loader-wrapper-outer"><div class="loader-wrapper-inner" ><div class="loader"></div></div></div></div>

<!-- 0Start wrapper-->
 <div id="wrapper">
 
    <div th:replace="/admin/share/common::wrapper"></div>
    <div th:replace="/admin/share/common::topbar"></div> 
    <div class="clearfix"></div>
    <div class="content-wrapper">
         <div class="container-fluid">	
               <!-- Breadcrumb-->
               <div class="row pt-2 pb-2" th:replace="/admin/share/common::map(table='Class',page='FirstList')"></div>
   
      <!-- startContent-->
	<div>
	   <form id="form" method="post">
		  <table  id="search_table">
			 <tr align="left" >
				<th scope="col" >
				   <div  id="dateragne-picker">
					   <div style="float: left;margin-right:10px; margin-top:5px; "  >
					      <input  th:value="${condition.first_classname}" type="text" placeholder="请输入一级分类名称"
									id="first_classname"	 class="form-control"  	name="first_classname" style="height: 35px; vertical-align: middle; width:150px;">
					   </div>			
					   <div class="input-daterange input-group" style="float: left;width:300px; margin-top:5px;">
						  <input type="text" class="form-control"  name="beginTime" th:value="${beginTime}" id="beginTime"
												 placeholder="beginTime" />
								<div class="input-group-prepend">
									<div class="input-group-text">to</div>
								</div>
									<input type="text" class="form-control" name="endTime" th:value="${endTime}" id="endTime"
												placeholder="endTime" />
					    </div>
					    <button type="submit" id="search" th:short_url="@{/admin/class}"  th:submit_url="@{/admin/classes/first/1}" class="btn btn-info waves-effect waves-light m-1">&nbsp;搜&nbsp;&nbsp;索&nbsp;</button>
				        <button type="button" id="append"  class="btn btn-warning waves-effect waves-light m-1" >&nbsp;添&nbsp;&nbsp;加&nbsp;</button>			
					</div>
				
				</th>
						
		      </tr>
			  </table>
			  <table id="append_table" style="display:none;">	
							<tr align="left" >
								<th scope="col" >

									<div  id="dateragne-picker">
									<div style="float: left;margin-right:10px; margin-top:5px;">
										<input type="hidden" id="id" name="id">
                                        <input type="hidden" id="_method" name="_method" value="put"> 
										<input type="text" id="classname" name="classname" placeholder="请输入一级分类名称" style="height: 35px; vertical-align: middle;">
								        <input type="text" id="seq"  name="seq" placeholder="请输入显示顺序"  style="height: 35px; vertical-align: middle; display:none;">
										<button type="button"  id="save_append"  th:short_url="@{/admin/class}"  th:submit_url="@{/admin/class/first}" class="btn btn-info waves-effect waves-light m-1">保存新增</button>
										<button type="button"  id="save_modify"  th:short_url="@{/admin/class}"  th:submit_url="@{/admin/class/first}" class="btn btn-info waves-effect waves-light m-1" style="display:none;">保存编辑</button>
										<button type="button"  id="cancel"  class="btn btn-info waves-effect waves-light m-1">返回</button>
									</div>	
									</div>
									
								</th>
							</tr>	
			        </table>
			   
				<table class="table table-striped">
					   <thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">一级分类名称</th>
								<th scope="col" >添加时间</th>
								<th scope="col">排序</th>
								<th scope="col">是否显示</th>
								<th scope="col">操作</th>
							</tr>
						</thead>
						<tbody  id="tbody">
							<tr th:each="obj,stat:${pager.datas}" id="deleteRow">
								<td th:text="${stat.index+1}"></td>						
								<td th:text="${obj.first_classname}"></td>
								<td th:text="${obj.first_addtime}"></td>
								<td th:text="${obj.first_seq}"></td>
								<td th:text="${obj.first_display==1?'是' : '否'}"></td>
								<td>
								<button type="button"   th:onclick="modify(this)" th:short_url="@{/admin/class}"  th:submit_url="@{/admin/class/first/}+${obj.first_id}" class="btn btn-success" >编辑</button>
								<button type="button"   th:onclick="r(this)" th:short_url="@{/admin/class}"  th:submit_url="@{/admin/class/first/}+${obj.first_id}" class="btn btn-success">删除</button> 
								</td>
							</tr>
						</tbody>
						<tfoot id="tfoot">
							<tr>
								<th scope="row" colspan="6">
								<span>[[${pager.size}]] Records</span> &nbsp;&nbsp;&nbsp;&nbsp; 
								<span class="current">The [[${pager.page }]] Page</span> &nbsp;&nbsp;&nbsp;&nbsp; 
								<span class="current">[[${pager.pages }]] Pages</span>									&nbsp;&nbsp;&nbsp;&nbsp;
									<button type="button" onclick="split_submit(this)"
										th:submit_url="@{/admin/classes/first/}+${pager.first}"
										class="btn btn-outline-danger btn-round waves-effect waves-light m-1">First</button>
									<button type="button" onclick="split_submit(this)"
										th:submit_url="@{/admin/classes/first/}+${pager.pre}"
										class="btn btn-outline-success btn-round waves-effect waves-light m-1">Previous</button>
									<button type="button" onclick="split_submit(this)"
										th:submit_url="@{/admin/classes/first/}+${pager.next}"
										class="btn btn-outline-info btn-round waves-effect waves-light m-1">Next</button>
									<button type="button" onclick="split_submit(this)"
										th:submit_url="@{/admin/classes/first/}+${pager.last}"
										class="btn btn-outline-warning btn-round waves-effect waves-light m-1">Last page</button>
								</th>
							</tr>
						</tfoot>	
					</table>
				</form>
			
            </div>
		    <!--End Row-->
		    
    </div><!--container-fluid-->  
 </div><!--End content-wrapper-->

<a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>

<div th:replace="/admin/share/common::footer"></div>

</div>
<!-- 0end wrapper-->

<div th:replace="/admin/share/common::js"></div>

	<script type="text/javascript"></script>
	<script type="text/javascript" th:src="@{/admin/assets/js/jquery-1.8.3.js}"></script>
	<script type="text/javascript" th:src="@{/admin/assets/js/button_operate.js}"></script>
	<script type="text/javascript" th:src="@{/admin/assets/js/button_operateFirClass.js}"></script>
	<script type="text/javascript" th:src="@{/admin/assets/js/split.js}"></script>
 
</body>
</html>




